@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #141414;
    --foreground: #ffffff;

    --card: #ffffff;
    --card-foreground: #141414;

    --popover: #2d2d2d;
    --popover-foreground: #f0f0f0;

    --primary: #dc382d;
    --primary-foreground: #f0f0f0;

    --secondary: #c01719;
    --secondary-foreground: #f0f0f0;

    --muted: #f4f4f4;
    --muted-foreground: #757575;

    --accent: #f4f4f4;
    --accent-foreground: #141414;

    --destructive: #e24d49;
    --destructive-foreground: #f0f0f0;

    --border: #ebebeb;
    --input: #ebebeb;
    --ring: #ffffff;
    --custom: #800000;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
